<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!--  CONTENT     -->
          <card-content>
            <template slot="header">
              <h4 class="card-title">Minhas Entregas</h4>
              <p class="card-category">Cadastros</p>
            </template>

            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
            <br>
            <!--  TABLE COMPONENT   -->
            <div class="table-responsive">
              <table-component class="table-hover table-striped"
                               :columns="table.columns"
                               :data="table.data"
                               :search-filter="table.searchFilter"
                               :selected="selectedFromTable"
              >
              </table-component>
            </div>
            <!--  END TABLE   -->
          </card-content>
          <!--  END CONTENT   -->
        </div>
      </div>

      <!--  MODALS    -->
      <div>
        <form-component
          :close-modal="closeModal"
          :is-modal-visible="isModalVisible"
          :send-data="sendData"
          :title="'Formulário - Finalizar Entrega'"
          :errors="errors"
          :dismiss-count-down="dismissCountDown"
          :object="object"
        />
      </div>
      <!--  END MODALS  -->
    </div>
  </div>
</template>

<script>
import CardContent from 'src/components/UIComponents/Cards/Card.vue'
import TableComponent from 'src/components/UIComponents/Table.vue'
import moment from "moment/moment"
import LAlert from "../../../UIComponents/CustomModalAlert/Alert";
import FormComponent from 'src/components/Dashboard/Views/MinhasEntregas/MinhasEntregasForm'
import * as axios from "axios"
import {getLocalization} from "../../../../store/getters";

const tableColumns = [
  { key: 'center.name', label: 'Centro de Distribuição', sortable: true, sortDirection: 'desc' },
  { key: 'lot_name', label: 'Lote', sortable: true, sortDirection: 'desc' },
  { key: 'user.name', label: 'Entregador', sortable: true, sortDirection: 'desc' },
  { key: 'totals.total_weight', label: 'Peso (kgs)', sortable: true, sortDirection: 'desc' },
  { key: 'totals.total_cubage', label: 'Cubagem (m³)', sortable: true, sortDirection: 'desc' },
  { key: 'totals.total_volumes', label: 'Vols.', sortable: true, sortDirection: 'desc' },
  { key: 'quantity_nfe', label: 'NFe(s)', sortable: true, sortDirection: 'desc' },
  { key: 'created_at', label: 'Criado em', sortable: true, sortDirection: 'desc' },
  { key: 'statusName', label: 'Status', sortable: false },
  { key: 'actions', label: 'Ações', sortable: false }
]
const tableData = []
const tableFilters = ['note_number', 'tracking_code', 'provider', 'client']

export default {
  components: {
    CardContent,
    TableComponent,
    LAlert,
    FormComponent
  },
  data () {
    return {
      errors: "",
      dismissCountDown: 0,
      isModalVisible: false,
      table: { columns: [...tableColumns], data: [...tableData], searchFilter: [...tableFilters] },
      api: {
        method: "POST",
        url: "/api/delivery-lot/my-deliveries",
        urlStartDelivery: "/api/delivery-lot/my-deliveries/note/{id}/start",
        urlFinishDelivery: "/api/delivery-lot/my-deliveries/note/{id}/finish"
      },
      object: {},
      deliveryCenters: {},
      deliveryCenterId: {},
      selectedFromTable: [],
      isAdmin: false
    }
  },
  mounted: function () {
    this.getTableFields();
    // this.$func.getUserLocation();
    this.isAdmin = this.$func.isAdmin();
  },
  methods: {
    getTableFields: function (){
      axios({
        method: "GET",
        url: this.api.url,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.table.data = result.data;

          this.table.data.forEach((item) => {
            item.created_at = moment(item.created_at).format('DD/MM/YYYY HH:mm');
            item.statusName = this.$func.getStatusName(item.status);
            item.showDetails = true;

            item.actions = {}
            item.actions.finishAction       = this.showFinishModal
            item.actions.urlStartDelivery   = this.api.urlStartDelivery
            item.actions.urlFinishDelivery  = this.api.urlFinishDelivery
            item.actions.forceUpdateAction  = this.getTableFields
            item.actions.actionUrl = "";
          });
        },
        error => {
          console.log(error)
          this.notifyVue('top', 'right', 'danger', error)
        }
      );
    },
    showFinishModal: function (object){
      this.cleanObject()
      this.object = object
      this.isModalVisible = true;
    },
    cleanObject: function (){
      this.object = {}
      this.errors = ""
      this.dismissCountDown = 0
    },
    closeModal: function (){
      this.isModalVisible = false;
      this.isModalVeiculoVisible = false;
      this.cleanObject()
    },
    sendData: function (note_id, payload) {
      this.$func.getUserLocation();

      axios({
        method: this.api.method,
        url: this.api.urlFinishDelivery.replace("{id}", note_id),
        data: payload,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.notifyVue('top', 'right', 'success', "Operação realizada com sucesso")
          this.closeModal();
          this.getTableFields();
        },
        error => {
          this.errors = error.response.data.message
          this.dismissCountDown = 10
          this.notifyVue('top', 'right', 'danger', error.response.data.message)
        }
      );
    },
    notifyVue: function (verticalAlign, horizontalAlign, type, result) {
      const notification = {
        template: `<span>`+ result +`</span>`
      }
      this.$notifications.notify(
        {
          component: notification,
          icon: 'nc-icon nc-app',
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: type
        })
    },
  },
}
</script>

