<template>

  <b-modal v-model="isModalVisible" size="lg"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>


      <div>
        <form slot="content" enctype="multipart/form-data" ref="form" @submit.prevent='prepareForPost()'>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="type">Comprovante de entrega</label>
              </div>
            </div>
          </div>

          <input id="inputfile"
                 type="file"
                 data-browse-on-zone-click="true"
                 data-msg-placeholder="Selecione arquivos para upload..."
                 @change="appendFile">
          <div class="clearfix"></div><hr>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="type">Status</label>
                <select class="form-control selectpicker" v-model="object.statusNumber" data-live-search="true" id="status" name="status" :required="true">
                  <option value="0" disabled selected>Selecione um Status</option>
                  <option v-for="(item, key) in statusArr" :value="key">{{ item }}</option>
                </select>
              </div>
            </div>
          </div><hr>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="type">Observações</label>
                <b-form-textarea
                  id="textarea"
                  v-model="object.observations"
                  placeholder="Descreva sua observação..."
                  rows="3"
                  max-rows="6"
                ></b-form-textarea>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <hr>

          <div class="row text-right">
            <div class="col-md-12 w-100">
              <b-button class="btn btn-danger float-left" @click.prevent="closeModal" aria-label="close">
                Cancelar
              </b-button>
              <button type="submit" class="btn btn-primary">
                Enviar Dados
              </button>
            </div>
          </div>
        </form>
      </div>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>

    <!--
    <template #modal-footer>
      <div class="w-100">
      </div>
    </template>
    -->

  </b-modal>

</template>
<script>

import * as types from "../../../../store/mutation-types"

export default {
  name: 'form-veiculo-component',
  props: {
    errors: "",
    title: "",
    userId: "",
    dismissCountDown: 0,
    isModalVisible: false,
    closeModal: {},
    sendData: {},
    object: {},
  },
  data () {
    return {
      types: types,
      bodyBgVariant:'light',
      bodyTextVariant:'dark',
      headerBgVariant: 'dark',
      dismissSecs: 10,
      files:[],
      localization: {},
      statusArr: {5: "Entrega finalizada", 4: "Entrega suspensa ou com pendências"},
    }
  },
  mounted: function () {

  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    dismissedCountDown(){
      this.errors = ""
      this.dismissCountDown = 0
    },
    appendFile: function (event) {
      this.files = event.target.files
    },
    prepareForPost:function (){
      this.localization = this.$store.getters.getLocalization

      const formData = new FormData();

      formData.append('file', this.files[0])
      formData.append('statusNumber', this.object.statusNumber)
      formData.append('observations', this.object.observations)
      formData.append('latitude', this.localization.latitude)
      formData.append('longitude', this.localization.longitude)

      this.sendData(this.object.id, formData)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-custom-font {
  font-family: 'poppins-bold';
  color: white;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
</style>
