<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <card>
            <h4 slot="header" class="card-title">Editar Perfil</h4>
            <form>
              <div class="row">
                <div class="col-md-5">
                  <fg-input type="text" label="Nome" placeholder="Nome" v-model="object.name">
                  </fg-input>
                </div>
                <div class="col-md-4">
                  <fg-input type="email" label="E-mail" placeholder="Email" v-model="object.email">
                  </fg-input>
                </div>
                <div class="col-md-3">
                  <fg-input :disabled="true" type="text" label="CPF" placeholder="CPF" v-model="object.cpf" v-mask="'###.###.###-##'" required/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <fg-input type="text" label="Logradouro" placeholder="Logradouro" v-model="object.address" required/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <fg-input type="text" label="Número" placeholder="Número" v-model="object.address_number" required/>
                </div>
                <div class="col-md-6">
                  <fg-input type="text" label="Referência" placeholder="Referência" v-model="object.address_obs" required/>
                </div>
                <div class="col-md-3">
                  <fg-input type="text" label="CEP" placeholder="CEP" v-model="object.zip" v-mask="'#####-###'" required/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="city">Cidade</label>
                    <select class="form-control selectpicker" data-live-search="true" id="city" name="city"
                            v-model="object.city_id" :required="true" @change="findMyEstado($event.target.value)">
                      <option value="0" disabled selected>Selecione uma Cidade</option>
                      <option v-for="city in citiesObj" :value="city.id">{{ city.title }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="state">Estado</label>
                    <select id="state" name="state" class="form-control" v-model="object.state_id" disabled>
                      <option value="" disabled selected>Selecione um Estado</option>
                      <option v-for="(option,key) in statesObj" :value="key">{{ option }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <fg-input type="text" label="Contato" placeholder="Contato" v-model="object.contact" v-mask="['(##) ####-####', '(##) #####-####']" required/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <fg-input type="password" label="Senha" placeholder="Senha" minlength="8" v-model="object.password"/>
                </div>
                <div class="col-md-4">
                  <fg-input type="password" label="Confirmar Senha" placeholder="Confirmar Senha" minlength="8" v-model="object.password_confirmation"/>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="updateMyProfile">
                  Atualizar Perfil
                </button>
              </div>
              <div class="clearfix"></div>
            </form>
          </card>
        </div>

        <div class="col-md-4">
          <card class="card-user">
            <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
            <div class="author">
              <a>
                <img class="avatar border-gray" src="static/assets/img/faces/face-10.png" alt="..."/>

                <h4 class="title">{{ object.name }}<br />
                  <small>{{ object.roleName }}</small><br>
                  <small>Membro desde: {{ object.created_at | formatDate }}</small>
                </h4>
              </a>
            </div>
            <p v-if="object.vehicle" class="description text-center">
              Veículo Cadastrado: <b v-for="(option,key) in object.vehicle.typesArr">{{ key == object.vehicle.type ? option : null }}</b> <br>
              <small>Identificador | Placa: {{ object.vehicle.identifier }}</small> <br>
              <small>Cubagem máxima: {{ object.vehicle.max_cubage }}</small> <br>
              <small>Peso máximo: {{ object.vehicle.max_weight }}</small> <br>
            </p>
            <div slot="footer" class="text-center alert alert-info">
              <small>Para alterar demais informações referentes ao seu cadastro contate um Administrador</small>
            </div>
          </card>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import * as axios from "axios";

  export default {
    components: {
      Card,
    },
    data () {
      return {
        object: {},
        citiesObj: {},
        statesObj: {},
        api: { getUrl: "/api/get-my-user/", updateUrl: "/api/update-my-user/", citiesUrl: "/api/cities/", statesUrl: "/api/states/", },
      }
    },
    mounted: function () {
      this.makeAsyncRequest(this.api.citiesUrl).then((data) => { this.citiesObj = data })
      this.makeAsyncRequest(this.api.statesUrl).then((data) => { this.statesObj = data })
      this.getObjectRequest()
    },
    methods: {
      async makeAsyncRequest(url) {
        const response = await axios.get(url, {
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        })
        return response.data
      },
      getObjectRequest: function (){
        axios({
          method: "GET",
          url: this.api.getUrl,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(result => {
          this.object = result.data;
        }, error => {
          this.notifyVue('top', 'right', 'danger', error.response.data.message)
        })
      },
      updateMyProfile: function () {
        axios({
          method: "PUT",
          url: this.api.updateUrl,
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right', 'success', "Operação realizada com sucesso")
            this.getObjectRequest();
          },
          error => {
            this.notifyVue('top', 'right', 'danger', error.response.data.message)
          }
        );
      },
      findMyEstado: function (id){
        axios({
          method: "GET",
          url: "/api/state-of-my-city/"+id,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.object.state_id = result.data
          },
          error => {
            console.error(error);
          }
        )
      },
      notifyVue: function (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }
        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
    }
  }

</script>
<style>

</style>
