<template>

  <b-modal v-model="isModalVisible" size="lg"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>


      <div v-if="objectVehicle">
        <form slot="content" ref="form" @submit.prevent='sendData((objectVehicle.user_id = userId), "/api/users/{id}/store-vehicle")'>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="type">Tipos de Veículo</label>
                <select class="form-control selectpicker" data-live-search="true" id="type" name="type"
                        v-model="objectVehicle.type" :required="true">
                  <option value="0" disabled selected>Selecione um tipo de veículo</option>
                  <option v-for="(item, key) in objectVehicle.typesArr" :value="key">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <fg-input type="text" name="identifier" label="Identificador | Placa" placeholder="Identificador | Placa" v-model="objectVehicle.identifier" required/>
            </div>
            <div class="col-md-4">
              <fg-input type="text" name="max_cubage" label="Cubagem Máxima ( m³ )" placeholder="Cubagem Máxima" v-model="objectVehicle.max_cubage" v-mask="['#.##', '##.##', '###.##']" required/>
            </div>
            <div class="col-md-4">
              <fg-input type="text" name="max_weight" label="Peso Máximo ( kg )" placeholder="Peso Máximo" v-model="objectVehicle.max_weight" v-mask="['#.##', '##.##', '###.##', '####.##' , '#####.##']" required/>
            </div>


          </div>

          <div class="clearfix"></div>
          <hr>

          <div class="row text-right">
            <div class="col-md-12 w-100">
              <b-button class="btn btn-danger float-left" @click.prevent="closeModal" aria-label="close">
                Cancelar
              </b-button>
              <button type="submit" class="btn btn-primary">
                Enviar Dados
              </button>
            </div>
          </div>
        </form>
      </div>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title + userName }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>

    <!--
    <template #modal-footer>
      <div class="w-100">
      </div>
    </template>
    -->

  </b-modal>

</template>
<script>


export default {
  name: 'form-veiculo-component',
  props: {
    errors: "",
    title: "",
    userName: "",
    userId: "",
    dismissCountDown: 0,
    isModalVisible: false,
    closeModal: {},
    sendData: {},
    objectVehicle: {
      type:0,
      typesArr: [],
      max_cubage: 0,
      max_weight: 0
    },
  },
  data () {
    return {
      bodyBgVariant:'light',
      bodyTextVariant:'dark',
      headerBgVariant: 'dark',
      dismissSecs: 10,
    }
  },
  mounted: function () {

  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    dismissedCountDown(){
      this.errors = ""
      this.dismissCountDown = 0
    },
  }
}
</script>

<style lang="scss" scoped>
.modal-custom-font {
  font-family: 'poppins-bold';
  color: white;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
</style>
