<template>

  <b-modal v-model="isModalVisible" size="xl"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>

      <form slot="content" ref="form" @submit.prevent='sendData(object.id)'>
        <div class="row">
          <div class="col-md-5">
            <fg-input type="text" label="Nome" placeholder="Nome Completo" v-model="object.name" required/>
          </div>
          <div class="col-md-3">
            <fg-input type="email" label="E-mail" placeholder="E-mail" v-model="object.email" required/>
          </div>
          <div class="col-md-4">
              <fg-input type="text" label="CPF" placeholder="CPF" v-model="object.cpf" v-mask="'###.###.###-##'" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text" label="Logradouro" placeholder="Logradouro" v-model="object.address" required/>
          </div>
          <div class="col-md-2">
            <fg-input type="text" label="Número" placeholder="Número" v-model="object.address_number" required/>
          </div>
          <div class="col-md-3">
            <fg-input type="text" label="Referência" placeholder="Referência" v-model="object.address_obs" required/>
          </div>
          <div class="col-md-3">
            <fg-input type="text" label="CEP" placeholder="CEP" v-model="object.zip" v-mask="'#####-###'" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="city">Cidade</label>
              <select class="form-control selectpicker" data-live-search="true" id="city" name="city"
                      v-model="object.city_id" :required="true" @change="findMyEstado($event.target.value)">
                <option value="0" disabled selected>Selecione uma Cidade</option>
                <option v-for="city in citiesObj" :value="city.id">{{ city.title }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="state">Estado</label>
              <select id="state" name="state" class="form-control" v-model="object.state_id" disabled>
                <option value="" disabled selected>Selecione um Estado</option>
                <option v-for="(option,key) in statesObj" :value="key">{{ option }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text" label="Contato" placeholder="Contato" v-model="object.contact" v-mask="['(##) ####-####', '(##) #####-####']" required/>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="role">Tipo</label>
              <select id="role" name="role" class="form-control" v-model="object.role_id" :required="true">
                <option value="" disabled selected>Selecione um Tipo</option>
                <option v-for="(option,key) in rolesObj" :value="key">{{ option }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row" v-if="!object.id">
          <div class="col-md-4">
            <fg-input type="password" label="Senha" placeholder="Senha" minlength="8" v-model="password"/>
          </div>
          <div class="col-md-4">
            <fg-input type="password" label="Confirmar Senha" placeholder="Confirmar Senha" minlength="8" v-model="password_confirmation"/>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Senha aleatória</label>
              <br>
              <b-button class="btn btn-default" @click.prevent="randomPassword(8)">Gerar</b-button>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr>

        <div class="row text-right">
          <div class="col-md-12 w-100">
            <b-button class="btn btn-danger float-left" @click.prevent="closeModal" aria-label="close">
              Cancelar
            </b-button>
            <button type="submit" class="btn btn-primary">
              Enviar Dados
            </button>
          </div>
        </div>
      </form>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>

    <!--
    <template #modal-footer>
      <div class="w-100">
      </div>
    </template>
    -->

  </b-modal>

</template>
<script>
    import * as axios from "axios";

    export default {
        name: 'form-component',
        props: {
            closeModal: {},
            isModalVisible: {},
            sendData: {},
            errors: "",
            dismissCountDown: 0,
            title: "",
            object: {},
            findMyEstado: {}
        },
        data () {
          return {
            bodyBgVariant:'light',
            bodyTextVariant:'dark',
            headerBgVariant: 'dark',
            dismissSecs: 10,
            citiesObj: {},
            statesObj: {},
            rolesObj : {},
            password:"",
            password_confirmation: "",
            api: {
              citiesUrl: "/api/cities/",
              statesUrl: "/api/states/",
              rolesUrl: "/api/roles/",
            },
          }
        },
      mounted: function () {
          this.makeAsyncRequest(this.api.citiesUrl).then((data) => { this.citiesObj = data })
          this.makeAsyncRequest(this.api.rolesUrl).then((data) => { this.rolesObj = data })
          this.makeAsyncRequest(this.api.statesUrl).then((data) => { this.statesObj = data })
      },
      methods: {
        async makeAsyncRequest(url) {
          const response = await axios.get(url, {
            headers: {
              'Accept': 'application/json',
              'Authorization': 'Bearer ' + this.$store.getters.getToken,
              'Content-Type': 'application/json'
            }
        })
          return response.data
        },
        countDownChanged(dismissCountDown) {
          this.dismissCountDown = dismissCountDown
        },
        dismissedCountDown(){
          this.errors = ""
          this.dismissCountDown = 0
        },
        randomPassword(length){
          var result           = '';
          var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          var charactersLength = characters.length;
          for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
          }

          this.object.password = result;
          this.object.password_confirmation = result

          this.password = result
          this.password_confirmation = result

          console.log(this.object.password)
        }
      }
    }
</script>

<style lang="scss" scoped>
  .modal-custom-font {
    font-family: 'poppins-bold';
    color: white;
  }
  .modal.show .modal-dialog {
    -webkit-transform: translate(0,0) !important;
    transform: translate(0,0) !important;
  }
</style>
