<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!--  CONTENT     -->
          <card-content>
            <template slot="header">
              <h4 class="card-title">Usuários</h4>
              <p class="card-category">Cadastros</p>
            </template>

            <div class="text-right">
              <b-button class="btn btn-wd btn-success btn-outline" @click="showCreateModal">
                <span class="btn-label"><i class="fa fa-plus-circle"></i>
                </span>
                Novo
              </b-button>
            </div><br>
            <!--  TABLE COMPONENT   -->
            <div class="table-responsive">
              <table-component class="table-hover table-striped"
                       :columns="table.columns"
                       :data="table.data"
                       :search-filter="table.searchFilter"
              >
              </table-component>
            </div>
            <!--  END TABLE   -->
          </card-content>
          <!--  END CONTEN   -->
        </div>
      </div>

      <!--  MODALS    -->
      <div>
        <form-component
          :close-modal="closeModal"
          :is-modal-visible="isModalVisible"
          :send-data="sendData"
          :title="'Formulário - Cadastro de Usuários'"
          :errors="errors"
          :dismiss-count-down="dismissCountDown"
          :object="object"
          :find-my-estado="findMyEstado"
        />

        <form-veiculo-component
          :close-modal="closeModal"
          :is-modal-visible="isModalVeiculoVisible"
          :send-data="sendData"
          :title="'Formulário - Cadastro de Veículo do usuário : '"
          :errors="errors"
          :dismiss-count-down="dismissCountDown"
          :object-vehicle="object.vehicle"
          :userName="object.name"
          :userId="object.id"
        />
      </div>
      <!--  END MODALS  -->
    </div>
  </div>
</template>
<script>
  import CardContent from 'src/components/UIComponents/Cards/Card.vue'
  import TableComponent from 'src/components/UIComponents/Table.vue'
  import FormComponent from 'src/components/Dashboard/Views/Users/UsersForm.vue'
  import FormVeiculoComponent from 'src/components/Dashboard/Views/Users/UsersVeiculoForm'
  import moment from "moment/moment"
  import * as axios from "axios"

  const tableColumns = [
    { key: 'avatar', label: 'Avatar', sortable: false },
    { key: 'name', label: 'Nome', sortable: true, sortDirection: 'desc' },
    { key: 'email', label: 'E-mail', sortable: true, sortDirection: 'desc' },
    { key: 'type', label: 'Tipo', sortable: true, sortDirection: 'desc' },
    { key: 'created_at', label: 'Cadastro', sortable: true, sortDirection: 'desc' },
    { key: 'actions', label: 'Ações', sortable: false }
  ]
  const tableData = []
  const tableFilters = ['name', 'email', 'type']

  export default {
    components: {
      CardContent,
      FormComponent,
      FormVeiculoComponent,
      TableComponent
    },
    data () {
      return {
        errors: "",
        dismissCountDown: 0,
        isModalVisible: false,
        isModalVeiculoVisible: false,
        table: { columns: [...tableColumns], data: [...tableData], searchFilter: [...tableFilters] },
        api: { method: "POST", url: "/api/users/" },
        object: {},
      }
    },
    mounted: function () {
      this.getTableFields()
    },
    methods: {
      getTableFields(){
        axios({
          method: "GET",
          url: this.api.url,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.table.data = result.data;

            this.table.data.forEach((item) => {
              item.type = item.role_id === 1 ? "Administrador" : "Entregador Parceiro"
              item.created_at = moment(item.created_at).format('DD/MM/YYYY');

              item.actions = {}
              item.actions.deleteURL = this.api.url + item.id
              item.actions.editAction = this.showEditModal
              item.actions.forceUpdateAction = this.getTableFields
              item.actions.customActions = [
                { 'action': this.showVehicleModal, 'title' : 'Veículos', 'icon' : 'fa fa-car', 'icon-style': 'color: #1409e8' } ,
              ]
            });
          },
          error => {
            console.log(error)
            this.notifyVue('top', 'right', 'danger', error)
          }
        );
      },
      showCreateModal: function (){
        this.cleanObject()
        this.isModalVisible = true;
        this.api.method = "POST";
      },
      showEditModal: function (id){
        this.cleanObject()
        this.isModalVisible = true;
        this.api.method = "PUT";
        this.getObjectRequest(id)
      },
      showVehicleModal: function (id){
        this.cleanObject()
        this.isModalVeiculoVisible = true;
        this.api.method = "POST";
        this.getObjectRequest(id)
      },
      closeModal: function (){
        this.isModalVisible = false;
        this.isModalVeiculoVisible = false;
        this.cleanObject()
      },
      findMyEstado: function (id){
        axios({
          method: "GET",
          url: "/api/state-of-my-city/"+id,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.object.state_id = result.data
          },
          error => {
            console.error(error);
          }
        )
      },
      getObjectRequest: function (id){
        const getUrl = this.api.url + id;

        axios({
          method: "GET",
          url: getUrl,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(result => {
          this.object = result.data;
        }, error => {
          this.notifyVue('top', 'right', 'danger', error.response.data.message)
        })
      },
      sendData: function (id, alternativeUrl) {
        //setar se é url base ou alternativa
        const apiUrl = (typeof alternativeUrl != "undefined") ?  alternativeUrl.replace("{id}", id) : this.api.url

        //setar objeto
        const object = (typeof alternativeUrl != "undefined" && alternativeUrl.indexOf("vehicle") > 0) ?  this.object.vehicle : this.object

        //setar se é url de INSERT ou UPDATE
        const sendUrl = (typeof id != "undefined" && typeof alternativeUrl == "undefined") ?  apiUrl + id : apiUrl

        axios({
          method: this.api.method,
          url: sendUrl,
          data: object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.closeModal()
            this.notifyVue('top', 'right', 'success', "Operação realizada com sucesso")
            this.getTableFields();
          },
          error => {
            this.errors = error.response.data.message
            this.dismissCountDown = 10
            this.notifyVue('top', 'right', 'danger', error.response.data.message)
          }
        );
      },
      cleanObject: function (){
        this.object = {}
        this.errors = ""
        this.dismissCountDown = 0
      },
      notifyVue: function (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+ result +`</span>`
        }
        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
    },
  }
</script>

