<template>

  <b-row class="vh-100 vw-100 row-panel">
    <b-col sm="5" class="d-flex justify-content-center align-items-center left-panel">
      <div class="col-8">
        <img src="../../../static/assets/img/logo1.png" class="img-panel" />
        <!--<h3 class="text-center mb-5 title-login">Faça o login</h3>-->

        <div v-if="log" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ log }}</strong> {{ error }}
        </div>

        <b-form>
          <b-form-group
            label="E-mail"
            label-for="email"
          >
            <b-form-input
              id="email"
              type="email"
              placeholder="email@email.com"
              autocomplete="on"
              v-model.trim="$v.form.email.$model"
              :state="getValidation('email')"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label-for="password"
          >
            <label class="d-flex justify-content-between">
              Senha
              <small><a href="#">Esqueceu sua senha?</a></small>
            </label>

            <b-form-input
              id="password"
              type="password"
              placeholder="Digite sua senha"
              v-model.trim="$v.form.password.$model"
              v-on:keyup.enter="login"
              autocomplete="off"
              :state="getValidation('password')"
            ></b-form-input>
          </b-form-group>

          <b-button
            type="button"
            variant="primary"
            block
            @click="login">
            <i class="fas fa-sign-in-alt"></i> Entrar
          </b-button>

          <hr>

          <b-button
            type="button"
            variant="outline-secondary"
            block
            @click="findMyPackage">
            <i class="fas fa-search-plus"></i> Rastrear Encomenda
          </b-button>
        </b-form>
      </div>
    </b-col>
    <b-col sm="7" class="d-flex justify-content-center align-items-center">
      <img src="../../../static/assets/img/login2.svg" class="img-panel" />
    </b-col>
  </b-row>
</template>

<script>
  import * as types from '../../store/mutation-types'
  import { required, minLength, email } from "vuelidate/lib/validators";

  export default {
    name: 'login',
    data () {
      return {
        form: {
          email: "",
          password: ""
        },
        error: '',
        log: ''
      }
    },
    validations: {
      form: {
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(5)
        },
      }
    },
    methods: {
      login ()
      {
        this.$v.$touch();
        if(this.$v.$error) {
          return;
        }

        this.$store.dispatch(types.LOGIN, {
          "email": this.form.email,
          "password": this.form.password
        }).then((response) => {
          if (response.status === 200) {
            this.$store.commit(types.LOGIN_SUCCESS, {
              token: response.data.authorisation.token,
              username: response.data.user.name,
              userSessionId: response.data.user.id,
              userRoleId: response.data.user.role_id
            })

            this.$router.push('/painel')
          }
        }).catch(response => {
          this.log = 'Erro genérico ao autenticar :'
          this.error = response
          this.$store.commit(types.LOGIN_ERROR)
        })
      },
      getValidation(field)
      {
        if(this.$v.form.$dirty === false) {
          return null;
        }
        return !this.$v.form[field].$error;
      },
      findMyPackage()
      {
        this.$router.push('/rastreamento')
      },
    }
  }
</script>

<style>
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.row-panel {
  margin-left: 0;
}

.left-panel {
  background-color: #F2F2F2;
}

.title-panel {
  font-weight: bold;
}

.img-panel {
  max-width: 600px;
  width: 100%;
  height: auto;
}

</style>

