<template>

  <b-row class="vh-100 vw-100 row-panel">
    <b-col sm="5" class="d-flex justify-content-center left-panel">
      <div class="col-8">
        <br><br><br><br><br><br>
        <img src="../../../static/assets/img/logo1.png" class="img-panel" />

        <div v-if="log" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ log }}</strong> {{ error }}
        </div>


        <br>
        <div class="custom-control custom-radio">
          <input v-model="searchByNfe" id="radio-option-0" type="radio" class="custom-control-input" value="0">
          <label for="radio-option-0" class="custom-control-label">Buscar por código</label>
        </div>
        <div class="custom-control custom-radio">
          <input v-model="searchByNfe" id="radio-option-1" type="radio" class="custom-control-input" value="2">
          <label for="radio-option-1" class="custom-control-label">Buscar por número NFe e documento</label>
        </div>
        <hr>
        <b-form>
          <div v-if="showTrackingCodeSection">
            <label for="trackingCode">Código:</label>
            <input id="trackingCode" class="form-control" placeholder="Código de Rastreio" type="text" v-model.trim="trackingCode">
          </div>
          <div v-else>
            <label for="noteNumber">Número NFe:</label>
            <input id="noteNumber" class="form-control" type="text" placeholder="Número NF-e" v-model.trim="noteNumber">
            <br>
            <label for="clientDocNumber">Documento:</label>
            <input id="clientDocNumber" class="form-control" type="text" placeholder="Identificação do destinatário contido na NF-e" v-model.trim="clientDocNumber">
          </div>

          <br>

          <b-button
            type="button"
            variant="primary"
            block
            @click="rastrear">
            <i class="fas fa-search"></i> Buscar
          </b-button>

          <hr>

          <b-button
            type="button"
            variant="outline-secondary"
            block
            @click="backToLogin">
            <i class="fas fa-sign-in-alt"></i> Voltar à tela de Login
          </b-button>
          <br>

        </b-form>
      </div>
    </b-col>
    <b-col sm="7">
      <div>
          <h2 class="text-center mb-5 title-panel">Mapa de Rastreamento</h2>
          <div class="map mapboxgl-map" id="mapBox" ref="map"></div>
      </div>
      <hr>
      <div v-if="mostrarInformacoes">
        <div v-show="Object.values(userDeliveryPartner).length > 0" class="card-body">
          <div class="container">
            <h2 class="text-center title-panel mt-5 mb-5">Informações da Entrega</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="static/assets/img/entregador.jpg" alt="Foto do entregador" class="img-fluid rounded-circle mb-3">
              </div>
              <div class="col-md-8">
                <p><strong>Entregdor:</strong> {{ userDeliveryPartner.name }}</p>
                <p><strong>Cidade:</strong> {{ userDeliveryPartner.city ? userDeliveryPartner.city.title : '' }}</p>
                <p><strong>Membro desde:</strong> {{ userDeliveryPartner.created_at | formatDate }}</p>
                <hr>
                <p><strong>Emissor NF-e :</strong> {{ noteData.provider }}</p>
                <p><strong>Destinatário:</strong> {{ noteData.client }}</p>
                <p><strong>Contato :</strong> {{ noteData.client_contact }}</p>
                <p><strong>Endereço :</strong> {{ noteData.delivery_address }}</p>
              </div>
            </div>
            <hr>
            <h2 class="text-center title-panel mt-5 mb-3">Eventos</h2>
            <br>
            <p><strong>Situação Atual :</strong> {{ this.$func.getStatusName(noteData.status) }}</p>
            <ul class="list-group" v-for="item in noteData.events.reverse()">
              <li class="list-group-item">
                Evento: {{ item.event }}
              </li>
              <li class="list-group-item">
                Data: {{ item.created_at | formatDateAndTime }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import * as MapboxGL from 'mapbox-gl';
import * as axios from "axios";
import moment from "moment";

export default {
  name: 'rastreamento',
  data() {
    return {
      error: '',
      log: '',
      searchByNfe: '0',
      trackingCode: '',
      clientDocNumber: '',
      noteNumber: '',
      api: {
        method: "POST",
        url: "/api/tracking",
      },
      userDeliveryPartner: {},
      pontos: [],
      marcadores: [],
      mapObject: null,
      noteData: [],
      mostrarInformacoes: false,
    };
  },
  computed: {
    showTrackingCodeSection() {
      return this.searchByNfe === '0';
    },
  },
  mounted() {
    // Inicialize o mapa com os pontos obtidos
    MapboxGL.accessToken = process.env.VUE_APP_MAP_ACCESS_TOKEN;

    // Cria um unico objeto de mapa
    this.mapObject = new MapboxGL.Map({
      container: this.$refs["map"],
      style: 'mapbox://styles/mapbox/streets-v12',
      center: [0, 0],
      zoom: 9,
      maxZoom: 15,
      scrollZoom: false,
    });

    // Socket IO Listener
    Echo.channel('localization')
      .listen('.LocalizationEvent', e => {
        if((e.user.id === this.userDeliveryPartner.id) && (this.noteData.id === e.note.id)){
          this.pontos = [
            {lat: e.latitude, lng: e.longitude},
            {lat: e.latitude, lng: e.longitude},
          ];

          this.userDeliveryPartner = e.user;
          this.noteData = e.note;

          this.removerMarcadores();
          this.montarMapa();
        }
      })
  },
  methods: {
    rastrear(){
      let payload = {'tracking_code' : this.trackingCode, 'client_doc_number': this.clientDocNumber, 'note_number': this.noteNumber}
      this.clearFields();

      axios
        .post(this.api.url, payload)
        .then(response => {
          this.pontos = [
            { lat: response.data.latitude, lng: response.data.longitude },
            { lat: response.data.latitude, lng: response.data.longitude }
          ];

          this.noteData = response.data.note;
          this.userDeliveryPartner = response.data.user;
          this.mostrarInformacoes = true;

          this.removerMarcadores();
          this.montarMapa();
        })
        .catch(error => {
          console.log(error);
          this.notifyVue("top", "right", "danger", error);
        })
        .finally(() => {
          this.clearFields();
        });
    },
    montarMapa() {
      // Desabilitar Scroll
      this.mapObject.scrollZoom.disable();
      this.mapObject.resize();

      // Armazene os marcadores criados para poder removê-los posteriormente
      if (this.pontos.length > 0){
        this.marcadores = this.pontos.map(ponto => {
          return new MapboxGL.Marker()
            .setLngLat([ponto.lng, ponto.lat])
            .addTo(this.mapObject);
        });

        // Centralize o mapa nos pontos de rastreamento
        this.mapObject.fitBounds(this.pontos.map(ponto => [ponto.lng, ponto.lat]));
      }
    },
    removerMarcadores() {
      // Remova cada marcador do mapa
      this.marcadores.forEach(marcador => marcador.remove());

      // Limpe a lista de marcadores
      this.marcadores = [];
    },
    clearFields(){
      this.searchByNfe = '0';
      this.trackingCode = '';
      this.clientDocNumber = '';
      this.noteNumber = '';
    },
    backToLogin(){
      this.$router.push('/login')
    }
  },
};
</script>


<style>
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.row-panel {
  margin-left: 0;
}

.left-panel {
  background-color: #F2F2F2;
}

.title-panel {
  font-weight: bold;
  color: #36abe1;
}

.img-panel {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* MAP STYLE */
.mapboxgl-canvas-container {
  position: relative;
  width: 100%;
  height: 70vh;
}

.map {
  grid-column: 1/-1;
  height: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
.map canvas, .map .mapboxgl-canvas {
  height: 100%;
  position: absolute;
}



</style>
