<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card-content>
            <template slot="header">
              <h4 class="card-title">Centros de Distribuição</h4>
              <p class="card-category">Cadastros</p>
            </template>

            <div class="text-right">
              <b-button class="btn btn-wd btn-success btn-outline" @click="showCreateModal">
                <span class="btn-label"><i class="fa fa-plus-circle"></i>
                </span>
                Novo
              </b-button>
            </div><br>

            <div class="table-responsive">
              <table-component class="table-hover table-striped"
                       :columns="table.columns"
                       :data="table.data"
                       :search-filter="table.searchFilter">
              </table-component>
            </div>
          </card-content>
        </div>

      </div>

      <div>
        <form-component
          :is-modal-visible="isModalVisible"
          :send-data="sendData"
          :close-modal="closeModal"
          :find-my-estado="findMyEstado"
          :title="'Formulário - Cadastro de Centros de Distribuição'"
          :errors="errors"
          :object="object"
          :dismiss-count-down="dismissCountDown"
        />

        <form-nfe-component
          :is-modal-visible="isModalNfeVisible"
          :send-data="sendData"
          :close-modal="closeModal"
          :title="'Entrada de NF-e - Importar XML'"
          :dismiss-count-down="dismissCountDown"
          :errors="errors"
          :object="object"
        />
      </div>

    </div>
  </div>
</template>
<script>
import CardContent from 'src/components/UIComponents/Cards/Card.vue'
import TableComponent from 'src/components/UIComponents/Table.vue'
import FormComponent from 'src/components/Dashboard/Views/CentrosDeDistribuicao/CentrosDeDistribuicaoForm.vue'
import FormNfeComponent from 'src/components/Dashboard/Views/CentrosDeDistribuicao/CentrosDeDistribuicaoNfeForm'
import moment from "moment";
import * as axios from "axios"

const tableColumns = [
  { key: 'id', label: 'ID', sortable: false },
  { key: 'name', label: 'Nome', sortable: true, sortDirection: 'desc' },
  { key: 'cod', label: 'Código', sortable: true, sortDirection: 'desc' },
  { key: 'cnpj', label: 'CNPJ', sortable: true, sortDirection: 'desc' },
  { key: 'address', label: 'Endereço', sortable: true, sortDirection: 'desc' },
  { key: 'created_at', label: 'Cadastro', sortable: true, sortDirection: 'desc' },
  { key: 'actions', label: 'Ações', sortable: false }
]
const tableData = []
const tableFilters = ['name', 'cod', 'cnpj']

export default {
  components: {
    CardContent,
    FormComponent,
    FormNfeComponent,
    TableComponent
  },
  data () {
    return {
      errors: "",
      dismissCountDown: 0,
      isModalVisible: false,
      isModalNfeVisible: false,
      table: { columns: [...tableColumns], data: [...tableData], searchFilter: [...tableFilters] },
      api: { method: "POST", url: "/api/delivery-center/" },
      cursos: {},
      object: {}
    }
  },
  mounted() {
    this.getTableFields()
  },
  methods: {
    findMyEstado: function (id){
      axios({
        method: "GET",
        url: "/api/state-of-my-city/"+id,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.object.state_id = result.data
        },
        error => {
          console.error(error);
        }
      )
    },
    getTableFields: function () {
      axios({
        method: "GET",
        url: this.api.url,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.table.data = result.data;

          this.table.data.forEach((item) => {
            item.created_at = moment(item.created_at).format('DD/MM/YYYY');
            item.address = item.address +", "+ item.address_number +", "+ item.zip

            item.actions = {}
            item.actions.deleteURL = this.api.url + item.id
            item.actions.editAction = this.showEditModal
            item.actions.forceUpdateAction = this.getTableFields
            item.actions.customActions = [
              { 'action': this.showNfeModal, 'title' : 'Importar XML NF-e', 'icon' : 'fa fa fa-file-code-o', 'icon-style': 'color: #0bfc03' } ,
            ]
          });
        },
        error => {
          this.notifyVue('top', 'right', 'danger', error)
        }
      );
    },
    showCreateModal: function () {
      this.cleanObject()
      this.isModalVisible = true;
      this.api.method = "POST";
    },
    showEditModal: function (id) {
      this.cleanObject()
      this.isModalVisible = true;
      this.api.method = "PUT";
      this.getObjectRequest(id)
    },
    showNfeModal: function (id) {
      this.cleanObject()
      this.isModalNfeVisible = true;
      this.api.method = "POST";
      this.getObjectRequest(id)
      $(document).ready(function() {
        $("#inputfile").fileinput({
          dropZoneEnabled: true,
          showRemove: true,
          showBrowse: false,
          showUpload: false,
          inputGroupClass: "input-group-lg"
        });
      });
    },
    closeModal() {
      this.isModalVisible = false
      this.isModalNfeVisible = false
      this.cleanObject()
    },
    getObjectRequest: function (id){
      const getUrl = this.api.url + id;

      axios({
        method: "GET",
        url: getUrl,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(result => {
        this.object = result.data;
      }, error => {
        this.notifyVue('top', 'right', 'danger', error.response.data.message)
      })
    },
    sendData: function (id, alternativeUrl, alternativePayload) {
      //setar se é url base ou alternativa
      const apiUrl = (typeof alternativeUrl != "undefined") ?  alternativeUrl.replace("{id}", id) : this.api.url

      //setar se é url de INSERT ou UPDATE
      const sendUrl = (typeof id != "undefined" && typeof alternativeUrl == "undefined") ?  apiUrl + id : apiUrl

      const payload = (typeof alternativePayload != "undefined") ?  alternativePayload : this.object

      axios({
        method: this.api.method,
        url: sendUrl,
        data: payload,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.notifyVue('top', 'right', 'success', "Operação realizada com sucesso")
          this.closeModal()
          this.getTableFields();
        },
        error => {
          this.errors = error.response.data.message
          this.dismissCountDown = 10
          this.notifyVue('top', 'right', 'danger', error.response.data.message)
        }
      );
    },
    cleanObject: function (){
      this.object = {}
      this.errors = ""
      this.dismissCountDown = 0
    },
    notifyVue: function (verticalAlign, horizontalAlign, type, result) {
      const notification = {
        template: `<span>`+ result +`</span>`
      }
      this.$notifications.notify(
        {
          component: notification,
          icon: 'nc-icon nc-app',
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: type
        })
    },
  }
}
</script>

