<template>

  <b-modal v-model="isModalVisible" size="xl"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>

      <form slot="content" id="frm" ref="form" enctype="multipart/form-data" @submit.prevent='prepareForPost()'>
        <input id="inputfile"
               type="file"
               data-browse-on-zone-click="true"
               data-allowed-file-extensions='["xml"]'
               data-msg-placeholder="Selecione arquivos para upload..."
               multiple
               @change="appendFile"
        >
        <div class="clearfix"></div><hr>

        <div class="row text-right">
          <div class="col-md-12 w-100">
            <b-button class="btn btn-danger float-left" @click.prevent="closeModal" aria-label="close">
              Cancelar
            </b-button>
            <button type="submit" class="btn btn-primary">
              Enviar Dados
            </button>
          </div>
        </div>

      </form>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>
  </b-modal>

</template>
<script>


export default {
  name: 'form-nfe',
  props: {
    errors: "",
    title: "",
    dismissCountDown: 0,
    isModalVisible: false,
    closeModal: {},
    sendData: {},
    object:{},
  },
  data () {
    return {
      bodyBgVariant:'light',
      bodyTextVariant:'dark',
      headerBgVariant: 'dark',
      dismissSecs: 10,
      files:[]
    }
  },
  mounted: function () {
  },
  methods: {
    countDownChanged: function (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    dismissedCountDown: function (){
      this.errors = ""
      this.dismissCountDown = 0
    },
    appendFile: function (event) {
      this.files = event.target.files
    },
    prepareForPost:function (){
      const formData = new FormData();
      for (const i of Object.keys(this.files)) {
        formData.append('files[]', this.files[i])
      }
      this.sendData(this.object.id, "api/delivery-center/{id}/import-nfe", formData)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-custom-font {
  font-family: 'poppins-bold';
  color: white;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
</style>
