<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card-content>
              <h4 class="card-title">Entregas Efetuadas do Usuário</h4>
              <div>
                <canvas ref="chart1"></canvas>
              </div>
          </card-content>

          <div v-if="this.$func.isAdmin()">
            <card-content>
              <h4 class="card-title">Entregas Totais no Ano</h4>
              <div>
                <canvas ref="chart2"></canvas>
              </div>
            </card-content>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js/dist/chart';
import CardContent from 'src/components/UIComponents/Cards/Card.vue'
import * as axios from "axios";

export default {
  components: {
    CardContent
  },
  data () {
    return {
      isAdmin: false,
      api: {
        method: "POST",
        urlReport: "/api/my-report",
        urlFullReport: "/api/full-report",
      }
    }
  },
  mounted() {
    this.isAdmin = this.$func.isAdmin();
    this.fetchDataAndCreateChart(this.api.urlReport, this.$refs.chart1, "Entregas Efetuadas", "bar", true);

    if(this.isAdmin){
      this.fetchDataAndCreateChart(this.api.urlFullReport, this.$refs.chart2, "Entregas Totais no Período de Um Ano", "line", false);
    }
  },
  methods: {
    fetchDataAndCreateChart(url, chart, label, type, fill) {
      axios({
        method: "GET",
        url: url,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(result => {
          const data = result.data;
          this.createChart(data, chart,label, type, fill)
        })
        .catch(error => {
          this.notifyVue('top', 'right', 'danger', error)
          console.error('Erro ao buscar dados do backend para gráfico:', error);
        });

    },

    createChart(data, chartRef, label, type, fill) {
      const ctx1 = chartRef.getContext('2d');
      const labels = data.map(entrega => entrega.mes);
      const values = data.map(entrega => entrega.quantidade);

      new Chart(ctx1, {
        type: type,
        data: {
          labels: labels,
          datasets: [
            {
              label: label,
              data: values,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: fill
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    },
  }
};
</script>
