<template>
  <!-- Modal Logout -->
  <div class="modal fade modal-primary" v-bind:id="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <div class="modal-profile">
            <i class="nc-icon nc-bulb-63"></i>
          </div>
        </div>
        <div class="modal-body text-center">
          <span class="text" v-html="text"></span>
        </div>
        <div class="modal-footer justify-content-center">
          <button v-if="actionUrl" v-on:click="action(actionUrl, forceUpdateAction, methodName, body)" type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>&nbsp;&nbsp;
          <button v-if="!actionUrl" v-on:click='action' type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'l-alert',
  props: {
    text: {type: String, required: true, default: ""},
    id: {type: String, required: true, default: "customAlertModal"},
    action: {required: true},                         //execução de função passada ao clicar no "sim"
    actionUrl: {required: false},                    //url usada apenas pra executar a função doActionRequest no componente table
    forceUpdateAction: {required: false},           //função usada apenas pra executar a função doActionRequest do componente table
    methodName: {type: String, required: false, default: "DELETE"},  //variável usada apenas pra executar a função doActionRequest no componente table
    body: {required: false,  default() { return {}}}
  },
}
</script>
