<template>

  <b-modal v-model="isModalVisible" size="xl"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>

      <div slot="content" ref="form">
        <div v-if="object.user">
          <div v-if="object.user" class="row">
            <div class="col-md-7">
              <label><b>Entregador</b></label>
              <p>{{ object.user.name }}</p>
            </div>
            <div class="col-md-2">
              <label><b>Email</b></label>
              <p>{{ object.user.email }}</p>
            </div>
            <div class="col-md-3">
              <label><b>Contato</b></label>
              <p>{{ object.user.contact }}</p>
            </div>
          </div>
          <div v-if="object.user.vehicle" class="row">
            <div class="col-md-7">
              <label><b>Lote</b></label>
              <p>{{ object.lot_name }}</p>
            </div>
            <div class="col-md-2">
              <label><b>Veículo</b></label>
              <p>{{ object.vehicleType }}</p>
            </div>
            <div class="col-md-3">
              <label><b>Identificação | Placa</b></label>
              <p>{{ object.user.vehicle.identifier }}</p>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                <tr>
                  <th colspan="1"><b>Cód.</b></th>
                  <th colspan="1"><b>Remetente</b></th>
                  <th colspan="1"><b>NF-e</b></th>
                  <th colspan="1"><b>Vols.</b></th>
                  <th colspan="1"><b>Destinatário</b></th>
                  <th colspan="1"><b>Contato</b></th>
                  <th colspan="1"><b>Status</b></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in object.items">
                  <td>
                    <span class="small">{{ item.nfe.id }}</span>
                  </td>
                  <td>
                    <span class="small">{{ item.nfe.provider }}</span>
                  </td>
                  <td>
                    <span class="small">{{ item.nfe.note_number }}</span>
                  </td>
                  <td>
                    <span class="small">{{ item.nfe.volumes }}</span>
                  </td>
                  <td>
                    <span class="small">{{ item.nfe.client }}</span>
                  </td>
                  <td>
                    <span class="small">{{ item.nfe.client_contact }}</span>
                  </td>
                  <td>
                    <p v-if="item.nfe.status > types.STATUS_PENDING && item.nfe.status <= types.STATUS_SUSPENDED " class="alert alert-info text-center" style="font-size: x-small" >{{ getStatus(item.nfe.status) }}</p>
                    <p v-if="item.nfe.status === types.STATUS_PENDING" class="alert alert-danger text-center" style="font-size: x-small">{{ getStatus(item.nfe.status) }}</p>
                    <p v-if="item.nfe.status === types.STATUS_COMPLETED" class="alert alert-success text-center" style="font-size: x-small">{{ getStatus(item.nfe.status) }}</p>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr>

      </div>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>

    <!--
    <template #modal-footer>
      <div class="w-100">
      </div>
    </template>
    -->

  </b-modal>

</template>
<script>

import * as types from "../../../../store/mutation-types"

export default {
  name: 'form-component',
  props: {
    closeModal: {},
    isModalVisible: {},
    sendData: {},
    errors: "",
    dismissCountDown: 0,
    title: "",
    object: {},
  },
  data () {
    return {
      bodyBgVariant:'light',
      bodyTextVariant:'dark',
      headerBgVariant: 'dark',
      dismissSecs: 10,
      types: types,
    }
  },
  mounted: function () {
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    dismissedCountDown(){
      this.errors = ""
      this.dismissCountDown = 0
    },
    getStatus(status){
      return this.$func.getStatusName(status);
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-custom-font {
  font-family: 'poppins-bold';
  color: white;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
</style>
