<template>

  <b-modal v-model="isModalVisible" size="xl"
           body-class="modal-custom"
           no-close-on-esc
           no-close-on-backdrop
           hide-footer
           :body-bg-variant="bodyBgVariant"
           :body-text-variant="bodyTextVariant"
           :header-bg-variant="headerBgVariant"
  >
    <b-container class="modal-container-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        variant="warning"
        @dismissed="dismissedCountDown"
        @dismiss-count-down="countDownChanged"
      >
        <p>Essa mensagem irá sumir em {{ dismissCountDown }} segundos...</p>
        <p>{{ errors }}</p>
        <b-progress
          variant="warning"
          :max="dismissSecs"
          :value="dismissCountDown"
          height="4px"
        ></b-progress>
      </b-alert>

      <div slot="content" ref="form">
        <div class="row">
          <div class="col-md-7">
            <label><b>Destinatário</b></label>
            <p>{{ object.client }}</p>
          </div>
          <div class="col-md-2">
            <label><b>Peso</b></label>
            <p>{{ object.weight }} (Kgs)</p>
          </div>
          <div class="col-md-2">
            <label><b>Cubagem</b></label>
            <p>{{ object.cubage }} m³</p>
          </div>
          <div class="col-md-1">
            <label><b>Vols.</b></label>
            <p>{{ object.volumes }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <label><b>Endereço de Entrega</b></label>
            <p>{{ object.delivery_address }}</p>
          </div>
          <div class="col-md-5">
            <label><b>Chave NF-e</b></label>
            <p>{{ object.note_key }}</p>
          </div>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr>
                    <th colspan="1"><b>Cód.</b></th>
                    <th colspan="1"><b>Descrição</b></th>
                    <th colspan="1"><b>Qtd</b></th>
                    <th colspan="1"><b>Unidade</b></th>
                    <th colspan="1"><b>EAN</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in object.products">
                    <td>
                      <span class="small">{{ item.product.ref }}</span>
                    </td>
                    <td>
                      <span class="small">{{ item.product.description }}</span>
                    </td>
                    <td>
                      <span class="small">{{ item.product.unity }}</span>
                    </td>
                    <td>
                      <span class="small">{{ item.quantity }}</span>
                    </td>
                    <td>
                      <span class="small">{{ item.product.ean }}</span>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr>

      </div>
    </b-container>

    <template #modal-header="{ close }">
      <h5 class="modal-custom-font">{{ title }}</h5>
      <b-button class="close" data-dismiss="modal" @click.prevent="closeModal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </b-button>
      <br><br>
    </template>

    <!--
    <template #modal-footer>
      <div class="w-100">
      </div>
    </template>
    -->

  </b-modal>

</template>
<script>

export default {
  name: 'form-component',
  props: {
    closeModal: {},
    isModalVisible: {},
    sendData: {},
    errors: "",
    dismissCountDown: 0,
    title: "",
    object: {},
  },
  data () {
    return {
      bodyBgVariant:'light',
      bodyTextVariant:'dark',
      headerBgVariant: 'dark',
      dismissSecs: 10,
    }
  },
  mounted: function () {
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    dismissedCountDown(){
      this.errors = ""
      this.dismissCountDown = 0
    },
  }
}
</script>

<style lang="scss" scoped>
.modal-custom-font {
  font-family: 'poppins-bold';
  color: white;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
</style>
