<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!--  CONTENT     -->
          <card-content>
            <template slot="header">
              <h4 class="card-title">Notas Fiscais</h4>
              <p class="card-category">Cadastros</p>
            </template>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="delivery-center">Centro de Distribuição</label>
                  <select class="form-control selectpicker" data-live-search="true" id="delivery-center" name="delivery-center"
                          @change="getTableFields($event.target.value)" v-model="deliveryCenterId">
                    <option value="0" disabled selected>Selecione um Centro de Distribuição</option>
                    <option v-for="center in deliveryCenters" :value="center.id">{{ center.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <b-button v-if="this.selectedFromTable.length > 0" class="btn btn-wd btn-info btn-outline"
                            data-toggle="modal"
                            :data-target="'#alertNFE'"
                            href="#">
                    <span class="btn-label"><i class="fa fa-link"></i></span> Criar Lote <br>NF-e(s)
                  </b-button>
                </div>
              </div>
            </div><br>
            <!--  TABLE COMPONENT   -->
            <div class="table-responsive">
              <table-component class="table-hover table-striped"
                               :columns="table.columns"
                               :data="table.data"
                               :search-filter="table.searchFilter"
                               :selected="selectedFromTable"
              >
              </table-component>
            </div>
            <!--  END TABLE   -->
          </card-content>
          <!--  END CONTEN   -->
        </div>
      </div>

      <!--  MODALS    -->
      <form-component
        :close-modal="closeModal"
        :is-modal-visible="isModalVisible"
        :title="'Detalhes da nota fiscal: '+object.note_number+' - '+object.provider"
        :errors="errors"
        :dismiss-count-down="dismissCountDown"
        :object="object"
      />

      <l-alert :text="'Deseja Criar um Lote de Entrega com a(s) NF-e(s) selecionada(s) ?'"
               :id="'alertNFE'"
               :action="sendData"
      ></l-alert>
      <!--  END MODALS  -->
    </div>
  </div>
</template>
<script>
import CardContent from 'src/components/UIComponents/Cards/Card.vue'
import TableComponent from 'src/components/UIComponents/Table.vue'
import moment from "moment/moment"
import LAlert from "../../../UIComponents/CustomModalAlert/Alert";
import FormComponent from "./NotasFiscaisForm";
import * as types from "../../../../store/mutation-types"
import * as axios from "axios"

const tableColumns = [
  { key: 'selectCheckBox', label: '#', sortable: false },
  { key: 'note_number', label: 'Número', sortable: true, sortDirection: 'desc' },
  { key: 'provider', label: 'Emissor', sortable: true, sortDirection: 'desc' },
  { key: 'client', label: 'Destinatário', sortable: true, sortDirection: 'desc' },
  { key: 'tracking_code', label: 'Rastreio', sortable: true, sortDirection: 'desc' },
  { key: 'issued_at', label: 'Emissão', sortable: true, sortDirection: 'desc' },
  { key: 'created_at', label: 'Entrada', sortable: true, sortDirection: 'desc' },
  { key: 'statusName', label: 'Status', sortable: false },
  { key: 'actions', label: 'Ações', sortable: false }
]
const tableData = []
const tableFilters = ['note_number', 'tracking_code', 'provider', 'client']

export default {
  components: {
    CardContent,
    TableComponent,
    FormComponent,
    LAlert
  },
  data () {
    return {
      errors: "",
      dismissCountDown: 0,
      isModalVisible: false,
      table: { columns: [...tableColumns], data: [...tableData], searchFilter: [...tableFilters] },
      api: { method: "POST", url: "/api/notes/", urlDeliveryCenter: "/api/delivery-center/", urlDeliveryLot: "/api/delivery-lot" },
      object: {},
      deliveryCenters: {},
      deliveryCenterId: {},
      selectedFromTable: [],
      isAdmin: false
    }
  },
  mounted: function () {
    this.getSelectFiels();
    this.isAdmin = this.$func.isAdmin();
  },
  methods: {
    getSelectFiels: function (){
      this.cleanObject();

      axios({
        method: "GET",
        url: this.api.urlDeliveryCenter,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.deliveryCenters = result.data
        },
        error => {
          console.error(error);
        }
      )
    },
    getTableFields: function (deliveryCenterId){
      // limpar itens selecionados
      this.selectedFromTable = [];
      this.table.data = [];

      //formar url de consulta
      const url = (typeof deliveryCenterId != "undefined") ? this.api.url+"?c="+deliveryCenterId  : this.api.url+"?c="+this.deliveryCenterId

      axios({
        method: "GET",
        url: url,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.table.data = result.data;

          this.table.data.forEach((item) => {
            item.issued_at = moment(item.issued_at).format('DD/MM/YYYY HH:mm');
            item.created_at = moment(item.created_at).format('DD/MM/YYYY HH:mm');
            item.statusName = this.$func.getStatusName(item.status);

            item.actions = {}
            item.actions.forceUpdateAction = this.getTableFields
            item.actions.customActions = [
              { 'action': this.showDetailsModal, 'title' : 'Visualizar Itens', 'icon' : 'fa  fa-search', 'icon-style': 'color: #1409e8' } ,
            ]
            if(this.isAdmin && item.status === types.STATUS_PENDING){
              item.actions.deleteURL = this.api.url + item.id
            }
          });
        },
        error => {
          console.log(error)
          this.notifyVue('top', 'right', 'danger', error)
        }
      );
    },
    showDetailsModal: function (id){
      this.cleanObject()
      this.getObjectRequest(id)
      this.isModalVisible = true;
    },
    closeModal: function (){
      this.isModalVisible = false;
      this.cleanObject()
    },
    getObjectRequest: function (id){
      const getUrl = this.api.url + id;

      axios({
        method: "GET",
        url: getUrl,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(result => {
        this.object = result.data;
      }, error => {
        this.notifyVue('top', 'right', 'danger', error.response.data.message)
      })
    },
    sendData: function () {
      axios({
        method: this.api.method,
        url: this.api.urlDeliveryLot,
        data: {
          selected_notes: this.selectedFromTable,
          delivery_center: this.deliveryCenterId
        },
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.notifyVue('top', 'right', 'success', "Operação realizada com sucesso")
          this.getTableFields();
        },
        error => {
          this.errors = error.response.data.message
          this.dismissCountDown = 10
          this.notifyVue('top', 'right', 'danger', error.response.data.message)
        }
      );
    },
    cleanObject: function (){
      this.object = {}
      this.errors = ""
      this.dismissCountDown  = 0
    },
    notifyVue: function (verticalAlign, horizontalAlign, type, result) {
      const notification = {
        template: `<span>`+ result +`</span>`
      }
      this.$notifications.notify(
        {
          component: notification,
          icon: 'nc-icon nc-app',
          horizontalAlign: horizontalAlign,
          verticalAlign: verticalAlign,
          type: type
        })
    },
  },
}
</script>

