<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <!--  SEARCH    -->
      <b-col lg="8" md="8" class="my-1">
        <b-form-group
          label="Buscar"
          label-for="filter-input"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="1"
          label-align-sm="left"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              class="form-bordered"
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Digite Para buscar"
            ></b-form-input>
            <!--
            <b-input-group-append>
              <b-button class="btn btn-default" :disabled="!filter" @click="filter = ''">Limpar</b-button>
            </b-input-group-append>
            -->
          </b-input-group>
        </b-form-group>
      </b-col>
      <!--  SEARCH    -->

      <!--   PER PAGE   -->
      <b-col sm="4" md="4" class="my-1">
        <b-form-group
          label="Paginação"
          label-for="per-page-select"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
          ></b-form-select>
        </b-form-group>
      </b-col>
      <!--   PER PAGE   -->
    </b-row>

    <!-- Main table element -->
    <b-table
      :head-variant="'dark'"
      :outlined="true"
      :items="data"
      :fields="columns"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      :empty-text="'Não há registros para exibir. Use um novo filtro ou tente novamente'"
      stacked="md"
      show-empty
      small
      @filtered="onFiltered"
    >
      <template #cell(avatar)="row">
        <img src="static/assets/img/faces/face-10.png" alt="Avatar" class="avatar">
      </template>

      <template #cell(selectCheckBox)="row">
        <b-form-group v-slot="{ ariaDescribedby }">
          <b-form-checkbox
            v-if="row.item.status === types.STATUS_PENDING"
            :value="row.item.id"
            :aria-describedby="ariaDescribedby"
            @change="itemSelected(row.item.id)"
          ></b-form-checkbox>
        </b-form-group>
      </template>

      <template #cell(statusName)="row">
        <p v-if="row.item.status === types.STATUS_PENDING" class="alert alert-danger text-center" style="font-size: x-small">{{ row.item.statusName }}</p>
        <p v-if="row.item.status === types.STATUS_WITHDRAWN" class="alert alert-info text-center" style="font-size: x-small" >{{ row.item.statusName }}</p>
        <p v-if="row.item.status === types.STATUS_IN_PROGRESS || row.item.status === types.STATUS_SUSPENDED  " class="alert alert-warning text-center" style="font-size: x-small" >{{ row.item.statusName }}</p>
        <p v-if="row.item.status === types.STATUS_COMPLETED" class="alert alert-success text-center" style="font-size: x-small">{{ row.item.statusName }}</p>
      </template>

      <!--  COLUNA DE BOTÕES DE AÇÃO    -->
      <template #cell(actions)="row">
        <!-- row.item, row.index, $event.target -->
        <a class="btn btn-default btn-sm mt-2"
           v-if="row.item.showDetails"
           v-b-toggle="['collapse-'+row.item.id]"
           @click="row.toggleDetails"
           :title=" row.detailsShowing ? 'Ocultar Detalhes' : 'Exibir Detalhes'"
        >
          <i v-if="row.detailsShowing" class="fa fa-eye-slash" style="color: red"></i>
          <i v-else class="fa fa-eye" style="color: #0a6ea0"></i>
        </a>

        <a v-if="row.item.actions.customActions.length > 0"
           v-for="customAction in row.item.actions.customActions"
           class="btn btn-default btn-sm mt-2"
           :title="customAction.title"
           @click="customAction.action(row.item.id)">
          <i :class="customAction.icon" :style="customAction['icon-style']"></i>
        </a>

        <a v-if="row.item.actions.editAction"
           class="btn btn-default btn-sm mt-2" title="Editar" @click="row.item.actions.editAction(row.item.id)">
          <i class="fa fa-edit" style="color: #0a6ea0"></i>
        </a>

        <a v-if="row.item.actions.deleteURL"
           class="btn btn-default btn-sm mt-2" title="Excluir" data-toggle="modal" :data-target="'#alertRemove'+row.item.id" href="#">
          <i class="fa fa-times" style="color: red"></i>
        </a>

        <l-alert :text="'Deseja Excluir o item ?'"
               :id="'alertRemove'+row.item.id"
               :action="doActionRequest"
               :action-url="row.item.actions.deleteURL"
               :force-update-action="row.item.actions.forceUpdateAction"
               :method-name="method.delete"
        ></l-alert>

      </template>

      <!-- COMPONENTE QUE MOSTRA DETALHES DENTRO DA TABELA, NA CHAMADA DO row.toggleDetails se row.item   -->
      <template #row-details="row">
        <b-collapse :id="'collapse-'+row.item.id" class="mt-2">
          <b-card v-for="(note, index) in row.item.items" :key="index">
            <b-row class="mb-8">
              <b-col sm="1" class="text-sm-right"><b>NFe:</b></b-col>
              <b-col sm="1">{{ note.nfe.note_number }}</b-col>
              <b-col sm="1" class="text-sm-right"><b>Remte.:</b></b-col>
              <b-col>{{ note.nfe.provider }}</b-col>
              <b-col sm="1" class="text-sm-right"><b>A/C:</b></b-col>
              <b-col>{{ note.nfe.client }}</b-col>
              <b-col sm="1" class="text-sm-right"><b>Vols:</b></b-col>
              <b-col sm="1">{{ note.nfe.volumes }}</b-col>
            </b-row>

            <b-row class="mb-4">
              <b-col sm="1" class="text-sm-right"><b>End:</b></b-col>
              <b-col>{{ note.nfe.delivery_address }}</b-col>
              <b-col sm="3">
                <p v-if="note.nfe.status === types.STATUS_PENDING" class="alert alert-danger text-center" style="font-size: x-small">{{ getStatusName(note.nfe.status) }}</p>
                <p v-if="note.nfe.status === types.STATUS_WITHDRAWN" class="alert alert-info text-center" style="font-size: x-small" >{{ getStatusName(note.nfe.status) }}</p>
                <p v-if="note.nfe.status === types.STATUS_IN_PROGRESS || note.nfe.status === types.STATUS_SUSPENDED  " class="alert alert-warning text-center" style="font-size: x-small" >{{ getStatusName(note.nfe.status) }}</p>
                <p v-if="note.nfe.status === types.STATUS_COMPLETED" class="alert alert-success text-center" style="font-size: x-small">{{ getStatusName(note.nfe.status) }}</p>
              </b-col>
              <b-col sm="2">
                <b-button
                  size="sm"
                  class="btn btn-primary"
                  v-if="note.nfe.status === types.STATUS_WITHDRAWN"
                  @click="buttonClickedItemId = note.nfe.id"
                  data-toggle="modal"
                  :data-target="'#alertStartDelivery'+row.item.id" href="#"
                >
                  {{ 'Iniciar Entrega' }}
                </b-button>
                <b-button
                  size="sm"
                  class="btn btn-success"
                  v-if="note.nfe.status === types.STATUS_IN_PROGRESS"
                  @click="row.item.actions.finishAction(note.nfe)"
                >
                  {{ 'Finalizar Entrega' }}
                </b-button>
              </b-col>
            </b-row>
          </b-card>
        </b-collapse>

        <l-alert :text="'Confirmar Inicio da entrega ?'"
                 :id="'alertStartDelivery'+row.item.id"
                 :action="doActionRequest"
                 :action-url="replaceUrlId(row.item.actions.urlStartDelivery, buttonClickedItemId)"
                 :force-update-action="row.item.actions.forceUpdateAction"
                 :method-name="method.post"
                 :body="getUserLocalization()"
        ></l-alert>


      </template>

    </b-table>

    <b-col sm="7" md="6" class="my-1">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="my-0"
      ></b-pagination>
    </b-col>
  </b-container>

</template>

<script>
  import axios from "axios";
  import LAlert from "./CustomModalAlert/Alert";
  import * as types from "../../store/mutation-types"

  export default {
    name: 'l-table',
    props: {
      columns: Array,
      data: Array,
      searchFilter: Array,
      selected: {type: Array, required: false },
    },
    components: {
      LAlert
    },
    data () {
      return {
        totalRows: 1,
        currentPage: 1,
        perPage: 10,
        pageOptions: [
          { value: 10, text: "10 por página" },
          { value: 20, text: "20 por página" },
          { value: 50, text: "50 por página" },
          { value: 100, text: "100 por página" },
          { value: 1000, text: "1000 por página" }
        ],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: this.searchFilter,
        method: { post: "POST", delete:"DELETE"},
        types: types,
        notifications: {
          topCenter: false
        },
        buttonClickedItemId: "",
      }
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.data.length
    },
    methods: {
      doActionRequest: function (apiUrl, forceUpdate, method, body) {
        let request = {}
        let headers = {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }

        if(Object.values(body).length === 0){
          request = { method: method, url: apiUrl, headers: headers}
        }else{
          request = { method: method, url: apiUrl, headers: headers, data: body}
        }

        axios(request).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            forceUpdate()
          },
          error => {
            this.notifyVue('top', 'right', 'danger', error.response.data.message)
            //forceUpdate()
          }
        );
      },
      notifyVue: function (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }
        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      itemSelected: function (id){
        const index = this.selected.indexOf(id);
        if (index === -1) {
          // o valor não existe no array, adicionar
          this.selected.push(id);
        } else {
          // o valor existe no array, remover
          this.selected.splice(index, 1);
        }
      },
      onFiltered: function (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      getStatusName: function (status){
        return this.$func.getStatusName(status)
      },
      getUserLocalization: function () {
        this.$func.getUserLocation();
        return this.$store.getters.getLocalization
      },
      replaceUrlId: function (baseUrl, id){
        return baseUrl.replace('{id}', id)
      }
    }
  }
</script>

<style>
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
</style>
