<template>
  <div :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <router-view></router-view>
    <loader :is-loading="isLoading" :text="'Aguarde...'"></loader>
  </div>
</template>

<script>
  import Loader from 'components/UIComponents/Loader';
  import { mapState } from 'vuex';
  import * as types from "./store/mutation-types";
  import router from "./routes";

  export default {
    name: 'app',
    components: {
      Loader
    },
    computed: {
      ...mapState(['isLoading', 'refCount'])
    },
    created() {
      // AXIOS INSTANCE REQUEST INTERCEPTOR
      this.axios.interceptors.request.use((config) => {
        this.$store.commit(types.LOADING, true);
        return config;
      }, (error) => {
        this.$store.commit(types.LOADING, false);
        return Promise.reject(error);
      });

      // AXIOS INSTANCE RESPONSE INTERCEPTOR
      this.axios.interceptors.response.use((response) => {
        this.$store.commit(types.LOADING, false);
        return response;
      },
        async (error) => {
        this.$store.commit(types.LOADING, false);

        if (error.config.url !== "/api/login" && error.response) {
          // Access Token was expired
          if (error.response.status === 401 && !error.config._retry) {
            error.config._retry = true;
            try {
              await this.$store.dispatch(types.REFRESH_TOKEN, {"token": this.$store.getters.getToken})
              return error.config;
            } catch (_error) {
              return Promise.reject(_error);
            }
          }
        }

        return Promise.reject(error);
      });
    },
  }
</script>

