<template>
  <div class="wrapper">
    <side-bar>
      <sidebar-link to="/painel/dashboard">
        <i class="nc-icon nc-compass-05"></i>
        <p class="text-white">Dashboard</p>
      </sidebar-link>
      <sidebar-link to="/painel/notes">
        <i class="nc-icon nc-single-copy-04"></i>
        <p class="text-white">Notas Fiscais</p>
      </sidebar-link>
      <sidebar-link to="/painel/my-deliveries">
        <i class="nc-icon nc-square-pin"></i>
        <p class="text-white">Minhas Entregas</p>
      </sidebar-link>
      <sidebar-link to="/painel/user">
        <i class="nc-icon nc-badge"></i>
        <p class="text-white">Meus Dados</p>
      </sidebar-link>

      <div v-if="isAdmin">
        <hr>
        <sidebar-link to="/painel/delivery-lot">
          <i class="nc-icon nc-app"></i>
          <p class="text-white">Lotes de Entrega</p>
        </sidebar-link>
        <sidebar-link to="/painel/delivery-center">
          <i class="nc-icon nc-delivery-fast"></i>
          <p class="text-white">Centros de Dist.</p>
        </sidebar-link>
        <sidebar-link to="/painel/users">
          <i class="nc-icon nc-circle-09"></i>
          <p class="text-white">Usuários</p>
        </sidebar-link>
      </div>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>
      <dashboard-content @click="toggleSidebar"></dashboard-content>
      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import * as types from "../../../store/mutation-types"

  export default {components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
    }, data () {
      return {
        isAdmin: false,
      }
    }, mounted() {
      this.isAdmin = this.$func.isAdmin();
    }, methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }}

</script>
