<template>
  <nav class="navbar navbar-expand-lg" color-on-scroll="500">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Delivery Center Monitor</a>
      <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#alertLogout" href="#">
              <i class="nc-icon nc-button-power"  style="color: red"></i>
            </a>
          </li>
        </ul>

        <alert :text="'Deseja Sair do sistema ?'"
               :id="'alertLogout'"
               :action="logout"
        ></alert>

      </div>
    </div>
  </nav>
</template>
<script>
  import * as types from '../../../store/mutation-types'
  import MobileMenu from './MobileMenu.vue'
  import Alert from "../../UIComponents/CustomModalAlert/Alert";

  export default {
    components: {
      MobileMenu,
      Alert
    },
    computed: {
      routeName () {
        const {name} = this.$route;
        return this.capitalizeFirstLetter(name)
      }
    },
    data () {
      return {
        activeNotifications: false
      }
    },
    methods: {
      logout () {
        this.$store.dispatch(types.LOGOUT)
      },
      capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown () {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown () {
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar () {
        this.$sidebar.displaySidebar(false)
      }
    }
  }

</script>
<style>

</style>
